.principal{
	background-image: url("../img/fondo.jpg");
	background-size: cover;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}
.logo{
	background-size: cover;
    width: 200px;
    margin-top: 15%;
}
.content{
	position: relative;
    padding: 0;
	height: 100vh;
}

.flex{
	position: absolute;
    bottom: 7%;
    width: 100%;
    padding: 0 25px;
}
footer{
	margin-top: 1150px;
	margin-bottom: 10px;
}
.boton{
	width: 100%;
    font-size: 20px;
}
.izq{
	background-color: transparent;
	border-color: black;
	color: black;
}
.der{
	background-image: url("../img/btncolor.png");
	background-size: cover;
	color: black;
}
/*---------------------------------*/
.icono{
	font-size: 25px;
	margin-top: 25%;
	color: #bbb;
}
.titulo{
	font-size: 22px;
	font-weight: bold;
	margin: 3% 22%;
}
.borde{
	border-bottom: 1px solid #bbb;
}
.margen{
	margin: 10px 0 5px 0;
}
.bandera{
	width: 20px;
	height: 15px;
	margin-right: 20%;
}
.botoncod{
	border-right:1px solid transparent;
}
.codigo{
	border-left: none;
	padding-left: 0px;
	box-shadow: none;
}
.codigo:focus {
	outline: -webkit-focus-ring-color auto 0px;
    outline-style: none;
    box-shadow: none;
    border-color: lightgrey;
}
.sgt{
	background-color: #E71D36;
	color: white;
}
/*--------------------------*/
.segTitulo{
	font-size: 20px;
    font-weight: bold;
    margin: 3% -2%;
}
.margensup{
	margin-top: 100px;
	margin-bottom: 10px;
}
.clet{
	width: 30px;
	height: 30px;
	padding-top: 10px;
}
.cnum{
	width: 30px;
	height: 30px;
	border: none;
	border-bottom: 1px solid #bbb;
	margin: 5px 0;
	text-align: center;
}
.margeninf{
	margin-bottom: 50px;
}
.two-fields input{
	width: 50% !important;
}
.sinborde{
	border:none;
}
.icono{
	border:none;
	color: black;
	background-color: white;
}
/*    float: left;
    position: absolute;
    left: 0;
    margin-left: 14px;*/
.tamanoMapa{
	width: 100%;
	height: 100vh;
}
.encima{
	position: relative;
	z-index:100;
}
.circulo{
	border-radius: 50%;
	background-color: white;
	border: 1px solid gray;
	width: 50px;
	height: 50px;
}
.izq{
	position: absolute;
	top: 10px;
	left: 10px
}
.dere{
	position: absolute;
	top: 10px;
	right: 10px;
}
.icons{
	font-size: 26px;
	color: black;
	margin: 23%;
}
.icons:hover{
	text-decoration: none;
	color: gray;
}
.logo2{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	left: 43%;
}
#fotoPerfil{
	width: 100%;
	height: 40vh;
}
.fecha{
	border-radius: 5px;
	background-color: #F3F5F5;
	margin: 0 5%;
	padding: 2% 0;
}
.margenlados{
	margin: 5%;
}
.texto{
	margin-left: 2%;
}

